#googleMap {
  margin-top: 20px;
}

.panel-body {
  text-align: center;
}

@media only screen and (max-width: 1200px) {
    #googleMap {
        max-width: 940px;
    }
}

@media only screen and (max-width: 990px) {
    #googleMap {
        max-width: 720px;
    }
}

@media only screen and (max-width: 640px) {
    #googleMap {
        max-width: 595px;
    }
}

@media only screen and (max-width: 400px) {
    #googleMap {
        max-width: 355px;
    }
}
